.achtergrond {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: $z-index-background;
    overflow: hidden;
    background-image: url('../images/achtergrond2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(0.9) contrast(1.1);
}
