.container.text-center {
    display: block;
    margin-top: 100vh;
    padding-top: 2rem;
 justify-content: center;

}

.row {
    min-height: 100px;

}

.col {
    background-color: green;
    width: 300px;
    display: flex;
    min-height: 100px;
    text-align: center;
    justify-content: center;

}


