@use 'variables';

.btn {
  background-color: variables.$button-color;
  padding: variables.$button-padding;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}
