
$color-primary: #FFD700;
$color-text: white;
$color-navbar-bg: rgba(70, 70, 70, 0.479);


$font-size-default: 16px;
$font-size-nav: 15px;


$spacing-nav-padding: 10px;
$spacing-nav-margin: 10px;


$z-index-navbar: 1;
$z-index-background: -10;

$transition-default: 0.5s;
